* {
  margin: 0px;
  padding: 0px;
}

.contain {
  /* position: relative; */
  /* width: 100%; */
  flex: 1;
  height: 100vh;
  background-color: #e5e5e5;
  overflow: hidden;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
